html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
}

body {
  background-color: #9CC4E4;
  font-family: 'Montserrat', sans-serif;
}

#obj {
  height: 100%;
  width: 100%;
}

#name, #obj {
  position: absolute;
  top: 0;
  left: 0;
}

#name
{
  font-size: 2em;
  text-shadow: 2px 2px 0 white;
}

#frm_container, #score {
  font-size: 1.5em;
}

#name, #score {
  padding: 10px;
}

#name, #score, #frm_container {
  z-index: 1;
}

#frm_container {
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 400px;
  margin-top: -50px;
  margin-left: -200px; 
  background-color: rgba(156, 196, 228, 0.7);
  border: 1px black solid;
  text-align: center;
}

#score {
  position: absolute;
  left: 0;
  bottom: 0;
}
